@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 20px;
  height: calc(60vh - 90px); /* Increased height for better visual impact */
  font-family: 'Poppins', sans-serif;
  position: relative;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  object-fit: cover;
  z-index: -1; /* Move the video behind the hero content */
}

.hero::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(240, 244, 248, 0) 100%);
  pointer-events: none;
}
.sora {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

.hero-title {
  font-size: 3.5rem;
  font-family: 'Sora';
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.hero-subtitle {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  margin-bottom: 30px;
  max-width: 800px;
  font-weight: bolder;
  position: relative;
  z-index: 1;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  position: relative;
  z-index: 1;
}

.hero-cta {
  background-color: #0046d1;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.hero-cta:hover {
  background-color: #ffffff;
  color: #000000;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(52, 152, 219, 0.3);
}

.hero-cta.secondary {
  background-color: transparent;
  color: #3498db;
  border: 2px solid #3498db;
}

.hero-cta.secondary:hover {
  background-color: #3498db;
  color: white;
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1.4rem;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: center;
  }

  .hero-cta {
    width: 100%;
    max-width: 250px;
  }
}