body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2em;
}

form {
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  background-color: #007bff; /* Bootstrap primary color */
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

h2 {
  margin-top: 20px;
}

/* */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  flex-grow: 1;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}